div(style='width:50%; margin-left:25%;') 
    fieldset
      table(style='width:100%; margin-top:5px')
        tr(style='background-color:darkgray; color:white; height:40px')
          th Nombre
          th Precio
          th Img
      table#productos(style='width:100%; margin-top:5px')
script(src='../../../public/js/cliente.js')